:root {
  --primary: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
  --FontSize: 14px;
}

* {
  font-family: "Inter", sans-serif;
  color: var(--White);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: var(--OffBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

main {
  background-color: var(--DarkGrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
}

.box-for-private-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.origin {
  color: var(--primary);
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: 600;
}
.name-surname {
  font-size: 30px;
  margin-bottom: 10px;
}

.auto-description {
  opacity: 70%;
}

.profile-info img {
  border-radius: 50%;
  width: 40%;
  margin-bottom: 15%;
}

button {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  border: none;
  background-color: var(--Grey);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

button:active {
  transition: all 0.5s;
  background-color: var(--primary);
  color: var(--DarkGrey);
}

footer {
  position: absolute;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-size: 15px;
}

.attribution a {
  color: hsl(228, 79%, 72%);
}
